@import url('https://fonts.googleapis.com/css?family=Titillium+Web');





* {
	font-family: 'Titillium Web', sans-serif;
	box-sizing: border-box;
	text-align: center;
}

body {
	height: 100%;
}
.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../images/face.svg") no-repeat 50% 50% fixed;
	background-color: yellow;
	background-size: 45%;

	@media (min-width : 500px) {
  		background-color: red;
 	}

}

.home {
	
}

ul {
	width: 100%;
	height: 4rem; 
	padding: 1rem;
	position: fixed; 
	border-bottom: 2px solid black;

    	li {
    		display: inline-block;
    		width: 10%;
    		margin: 1px;
    	}
    	li:hover {
    		cursor: pointer;
    		animation: glitch .3s;
    	}


    	@keyframes glitch {
    0% {
        transform: translate(0)
    }
    20% {
        transform: translate(-2px, 2px)
    }
    40% {
        transform: translate(-2px, -2px)
    }
    60% {
        transform: translate(2px, 2px)
    }
    80% {
        transform: translate(2px, -2px)
    }
    to {
        transform: translate(0)
    }
}

    	


}

}